.gallery,
.aside,
.footer,
.article-title,
.article-buy {
    border: 1px black solid;
    background-color: rgb(114, 179, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}            

.gallery {
    margin-right: 1em;
}

.main {
    min-height: 60vh;
}

.aside,
.footer {
    min-height: 20vh;
}
            
.article {
    height: 100%;
    align-content: space-between;
}

.article-title {
    height: 30%;
}

.article-buy {
    height: 66%;
}